*{box-sizing: border-box;}
img{width: 100%; display: block;}
.maincontainer{
    width: 800px;
    background-color: aliceblue;
    margin: 5rem auto;
    padding: 2rem;
}
.apptitle{
    text-align: center;
}
.dolistform, .formgroup{
    margin-top: 2rem;
}
.todo_text{
    background-color: white; padding: 0.5rem;
    width: 60%;
}
.btndeleteeach, .btndeleteall{
    width: 40%;
    margin: 2%;
    padding: 0.5rem;
    border: none;
}
.btndeleteeach{
    background-color: orange;
}
.btndeleteall{
    background-color: rgb(248, 138, 3);
}
.btndeleteeach:hover, .btndeleteall:hover, .btnaddlist:hover{
    background: darkred;
    color: white;
    border: solid 2px white;
}
.btnaddlist{
    border: none;
    background-color: green;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.dolist_list{
    background-color: white;
    padding: 1rem;
    border: solid gray 1px;
}
.dolist_list_li{
    list-style: none;
}